
.main{
  width: 800px;
  height: 150px;
  background-color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__start{
    width: 150px;
    height: 60px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: wheat;
    cursor: pointer;
  }
  &__timer{
    width: 250px;
    height: 80px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: wheat;
    cursor: pointer;
    font-size: 40px;

  }
}
