<div class="main">
  <div class="main__comp property">

  </div>
  <div class="main__player property">
      <div class="main__player__place">
        <div class="main__player__place__play"  [ngStyle]="{ 'background-image': 'url(' + name + ')' }">
          <img class="" src="../../../assets/images/changa/1.webp" alt="">
        </div>
      </div>
      <div class="main__player__control">
          <div class="main__player__control__cut  like" (click)="onClick"><img src="../../assets/images/changa/1.png" alt=""></div>
          <div class="main__player__control__stone like"><img src="../../assets/images/changa/2.png" alt=""></div>
          <div class="main__player__control__umbrela like"><img src="../../assets/images/changa/3.png" alt=""></div>
      </div>
  </div>
</div>
